body {
    margin: 0;
    font-family: 'Trebuchet MS', regular;
}

header {
    display: flex;
    background-color: #10216f;
    color: white;
    padding: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-family: 'Trebuchet MS', regular;
    font-weight: regular;
    z-index: 10;
}

.logo {
    height: 60px;
    margin-left: 1px;
    margin-right: 55px;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: auto;
    position: relative;
}

nav {
    display: flex;
    gap: 50px;
}

nav a {
    color: #7dd557;
    text-decoration: none;
    font-weight: regular;
}

.button {
    background-color: white;
    color: #10216f;
    border: none;
    padding: 15px 45px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: auto;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    transition: background-color 0.3s, border-color 0.3s;
}

.button:hover {
    background-color: #183196;
    color:white;
    border: 2px solid black;
}

/* Estilos para el botón del menú (solo visible en pantallas pequeñas) */
.menu-btn {
    display: none;
    background-color: white;
    color: #10216f;
    font-size: 26px;
    padding: 3px 10px;
    cursor: pointer;
    border-radius: 6px; /* Menos redondeado */
    border: 2px solid #10216f;
    transition: none; /* Sin efecto de hover */
}

.menu-btn::before {
    content: "☰"; /* Ícono de menú por defecto */
}

.menu-btn.active::before {
    content: "✖"; /* Ícono de cerrar al activar */
}

/* Media query para pantallas pequeñas */
@media (max-width: 1000px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .logo {
        margin: 0;
    }

    .nav-container {
        display: none;
        width: 100%;
        background-color: #10216f;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
        border-radius: 0 0 10px 10px;
        transition: max-height 0.5s ease-in-out;
        overflow: hidden;
        max-height: 0;
        z-index: 1;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .nav-container.active {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-height: 220px; /* Altura máxima que el menú puede alcanzar al desplegarse */
    }

    .menu-btn.active {
        background-color: white; /* Mantener el botón en blanco cuando está activo */
    }

    .menu-btn {
        display: block;
        margin-left: 10px;
    }

    .button {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 0; /* Eliminamos el espacio entre elementos para que las líneas de separación ocupen su lugar */
        width: 100%;
        padding: 10px;
    }

    nav a {
        color: #7dd557;
        text-align: center;
        padding: 10px 0; /* Espacio interior para cada enlace */
        border-top: 1px solid #ffffff60; /* Línea de separación superior */
    }

    nav a:first-child {
        border-top: none; /* Quitar línea de separación del primer elemento */
    }
}
/* ---------------------------------------DIV CARRUSEL DE IMAGENES--------------------------------- */

.carousel {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 0; /* Ajusta el margen inferior a 0 */
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; /* Ancho total para tres imágenes */
}

.carousel-images img {
    width: 33.33%; /* Cada imagen ocupa el 33.33% del ancho del contenedor */
    height: auto;
    display: block;
}

/* Puntos de control del carrusel */
.carousel-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.carousel-dots button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff80; /* Color de los puntos */
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-dots button.active {
    background-color: #ffffff; /* Color del punto activo */
}

@media(max-width: 400px){

    .carousel-dots {
        bottom: 20px;
    }

    .carousel-dots button {
        width: 5px;
        height: 12px;
    }

}

/* ---------------------------------------DIV NOSOTROS--------------------------------- */
.nosotros {
    display: flex;
    align-items: flex-start;
    background-color: white;
    padding: 0; /* Elimina el padding para ajustar la alineación */
    margin: 0; /* Elimina margen superior e inferior */
}

.texto-nosotros {   
    flex: 1;
    width: 50%;
    margin-right: 0;
    margin-top: 20px;
    color: #10216f;
    text-align: justify;
    padding: 20px;
    box-sizing: border-box;
}

.texto-nosotros h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 0 0 20px 0; /* Margen inferior para separar el texto */
}

.texto-nosotros p {
    font-weight: bold;
    font-size: 1.2em;
    text-align: justify;
    margin: 0 0 20px 0; /* Margen inferior para separar el texto */
}

.imagen-nosotros img {
    width: 100%;
    display: block; /* Elimina espacios alrededor de la imagen */
    margin: 0; /* Elimina margen */
}


.ver-mas-btn {
    display: block;
    margin: 20px auto; /* Asegura que el botón esté centrado horizontalmente */
    padding: 15px 25px; /* Aumenta el padding para hacerlo más grande */
    background-color: #10216f; /* Color de fondo */
    color: white;
    font-size: 18px;
    font-weight: regular;
    border: 2px solid transparent; /* Agrega un borde transparente */
    border-radius: 50px; /* Bordes redondeados */
    cursor: pointer;
    transition: all 0.3s ease; /* Transición suave para hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.ver-mas-btn:hover {
    background-color: #7dd557; /* Cambia el color de fondo al pasar el ratón */
    color: #10216f; /* Cambia el color del texto */
    border: 2px solid #10216f; /* Borde visible en hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
    transform: translateY(-2px); /* Sutil elevación al pasar el ratón */
}
/* Ajuste para pantallas pequeñas */
@media (max-width: 1000px) {
    .ver-mas-btn {
        width: 50%; /* El botón ocupará el 50% del ancho en pantallas pequeñas */
        padding: 15px; /* Ajuste del padding */
        font-size: 16px; /* Tamaño de la fuente ajustado */
    }
}
/* Ajuste para pantallas pequeñas */
@media (max-width: 1000px) {
    .nosotros {
        flex-direction: column;
        margin: 0; /* Elimina margen superior e inferior */
    }

    .texto-nosotros {
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    .texto-nosotros p{
        text-align: center;
        font-size: 1em;
    }
    .imagen-nosotros {
        width: 100%;
    }

    .imagen-nosotros img {
        max-width: 100%;
    }
}

/* ---------------------------------------DIV Servicios--------------------------------- */
.servicios {
    background-color: #10216f;
    text-align: center;
    padding: 60px 40px;
    margin: 0; /* Elimina cualquier margen */
    margin-bottom: 0; /* Asegura que no haya margen en la parte inferior */
}

.servicios h2 {
    font-size: 2.5em;
    color: #7dd557;
    margin-bottom: 20px;
    margin-top: 0;
}

.servicios p {
    color: white;
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}


.recuadros-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    margin-top: 40px;
}


.recuadroChico {
    width: 150px;           /*WIDTH: 120 */
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1; /* Cambiado de 0 a 1 */
    transform: translateY(0); /* Cambiado para eliminar la animación */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px;

}
.recuadroChico img {
    margin-top: 15px;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.texto-recuadroChico {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #10216f;
    text-align: center; 

}

.btnCuadrosChicos {
    display: block;
    margin-bottom: 20px;
    margin-top: 12px;
    padding: 10px 20px; /* Aumenta el padding para hacerlo más grande */
    background-color: #10216f; /* Color de fondo */
    color: white;
    font-size: 15px;
    font-weight: regular    ;
    border: 2px solid transparent; /* Agrega un borde transparente */
    border-radius: 50px; /* Bordes redondeados */
    cursor: pointer;
    transition: all 0.3s ease; /* Transición suave para hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.btnCuadrosChicos:hover {
    background-color: #7dd557; /* Cambia el color de fondo al pasar el ratón */
    color: #10216f; /* Cambia el color del texto */
    border: 2px solid #10216f; /* Borde visible en hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
    transform: translateY(-2px); /* Sutil elevación al pasar el ratón */
}


.recuadro {
    width: 150px; /*WIDTH: 120 */
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1; /* Cambiado de 0 a 1 */
    transform: translateY(0); /* Cambiado para eliminar la animación */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;

}
.recuadro img {
    margin-top: 25px;
    width: 80px;
    height: 80px;
    margin-bottom: 0;
}

.texto-recuadro {
    font-size: 1.2em;
    font-weight: bold;
    color: #10216f;
    text-align: center; 
    margin-bottom: 15px;
}

.btnCuadros {
    display: block;
    margin-bottom: 35px;
    padding: 10px 20px; /* Aumenta el padding para hacerlo más grande */
    background-color: #10216f; /* Color de fondo */
    color: white;
    font-size: 15px;
    font-weight: regular;
    border: 2px solid transparent; /* Agrega un borde transparente */
    border-radius: 50px; /* Bordes redondeados */
    cursor: pointer;
    transition: all 0.3s ease; /* Transición suave para hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Efecto hover */
.btnCuadros:hover {
    background-color: #7dd557; /* Cambia el color de fondo al pasar el ratón */
    color: #10216f; /* Cambia el color del texto */
    border: 2px solid #10216f; /* Borde visible en hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
    transform: translateY(-2px); /* Sutil elevación al pasar el ratón */
}
@media (max-width: 400px) {
    .recuadroChico, .recuadro {
        width: 120px; /* Cambia el ancho a 120px en pantallas pequeñas */
    }

    .servicios h2 {
        font-size: 2em; /* Reduce el tamaño del título si lo deseas */
    }

    .servicios p {
        font-size: 1em; /* Reduce el tamaño del texto si es necesario */
    }
}


/* ---------------------------------------DIV Sucursales--------------------------------- */

.div-sucursales {
    background-color: white;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    min-height: 20px;
    margin-top: 33px;
    padding: 20px 10px; /* Agrega padding para mayor espacio interno */
    width: 100%; /* Asegura que ocupe el 100% del ancho de la pantalla */
    box-sizing: border-box; /* Asegura que el padding no exceda el 100% del ancho */
}

.div-sucursales p {
    color: #7dd557; /* Asegura que el texto sea visible en cualquier tamaño de pantalla */
    margin: 0;
}
.sucursales {
    background-color: white;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0;
}

.texto-sucursales {
    flex: 1;
    text-align: left;
}

.texto-sucursales h4 {
    margin-left: 40px;
    margin-top: 40px;
    color: #10216f;
}

.texto-sucursales ul {
    list-style-type: none;
    padding: 0;
    color: #10216f;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 80px;
}

.imagen-sucursal {
    flex: 1;
    display: flex;
    justify-content: flex-start; /* Alinea el mapa a la izquierda */
    align-items: flex-start;
    padding-left: 40px; /* Ajusta la distancia del mapa hacia la izquierda */
}

.imagen-sucursal img {
    max-width: 90%;
    height: auto;
}



/* Media query para pantallas pequeñas */
@media (max-width: 1000px) {
    .sucursales {
        flex-direction: column; /* Mantiene el texto debajo de la imagen */
        text-align: center;
    }

    .div-sucursales {
        font-size: 1.8em; /* Reduce el tamaño de fuente en pantallas pequeñas */
        padding: 15px 5px; /* Ajusta el padding para pantallas pequeñas */
    }

    .imagen-sucursal img {
        max-width: 100%;
        margin-bottom: 60px;
    }

    .texto-sucursales p {
        text-align: center;
        font-size: 1em;
        font-weight: center;
    }
}


.mapa-sucursales {
    padding: 10px;
    margin-right: 40px;
    border: 2px solid #d3d3d3; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados para un mejor estilo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    max-width: 100%; /* Asegura que el mapa no desborde su contenedor */
}


.mapa-sucursales label {
    color: #10216f;  /* Color del texto */
    font-weight: bold;  /* Negrita */
    font-family: 'Trebuchet MS', sans-serif;  /* Fuente Trebuchet MS */
}


#sucursales-select {
    display: block;
    margin: 0 auto 10px auto;
    padding: 10px 200px;  
    font-size: 1em;
    font-weight: bold;
    color:white;
    background-color: #10216f;
    border: 2px solid transparent; /* Borde transparente */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.map-container {
    text-align: center;
}

#mapa-sucursal {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: 0;
}

@media(max-width: 400px){

    .mapa-sucursales {
        width: 95%; /* O ajusta según tus necesidades */   
    }

    #sucursales-select {
        display: block;
        margin: 0 auto 10px auto;
        font-size: 1em;
        font-weight: bold;
        color:white;
        background-color: #10216f;
        border: 2px solid transparent; /* Borde transparente */
        border-radius: 5px; /* Bordes redondeados */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    }
}
@media (max-width: 500px) {
    #sucursales-select {
        padding: 10px 90px; /* Ajuste de padding para pantallas pequeñas */
    }    
}
/*@media (max-width: 1000px) {
    #sucursales-select {
        padding: 10px 130px; 
    }
    .mapa-sucursales {
        width: 110%; 
    }
}
    */
/* ---------------------------------------DIV Contacto--------------------------------- */ 


.contacto {
    display: flex;
    justify-content: flex-start; /* Asegura que ambos bloques se coloquen uno al lado del otro */
    background-color: #10216f;
    padding: 40px;
    color: white;
}

.formulario-contacto {
    flex: 1;
    margin-left: 100px; /* Aumenta el margen izquierdo para mover el formulario a la derecha */
}

.formulario-contacto h2 {
    font-size: 2.5em;
    color: #7dd557;
    text-align: center;
}

.formulario-contacto form {
    display: flex;
    flex-direction: column;
    margin-right: 0; /* Remueve el margen para que todo el contenido se ajuste correctamente */
}

.formulario-contacto label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario-contacto input, .formulario-contacto textarea {
    background-color: white;
    color: #10216f;
    border: none;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    border-radius: 5px;
}

.formulario-contacto textarea {
    resize: vertical; /* Solo permite redimensionar verticalmente */
}

.formulario-contacto button {
    padding: 12px 20px;
    background-color: #7dd557;
    color: #10216f;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.formulario-contacto button:hover {
    background-color: #5ab93d;
}

.informacion-contacto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 60px;
}

.informacion-contacto h2 {
    font-family: 'Trebuchet MS', sans-serif;
    color: #7dd557;
    text-align: left;
}

.redes-sociales {
    list-style: none;
    padding: 0;
    display: flex; /* Para que los íconos estén alineados horizontalmente */
    justify-content: left;
    gap: 20px; /* Espacio entre los íconos */
}

.redes-sociales li {
    margin-bottom: 10px;
    margin-left: 10px;
}

.redes-sociales a {
    color: white;
    text-decoration: none;
    font-size: 1.5em; /* Tamaño del ícono */
    transition: color 0.3s ease;
}

.redes-sociales a:hover {
    color: #7dd557; /* Cambia el color en hover */
    text-decoration: none;
}


/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .contacto {
        flex-direction: column;
        align-items: center;
    }
    
    .informacion-contacto {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .informacion-contacto h2{
        text-align: center;
        font-size: 2em;
    }

    .redes-sociales {
        justify-content: center;
    }
    
    .formulario-contacto {
        margin-left: 0; /* Asegura que en pantallas pequeñas el formulario se ajuste */
    }
    
    .informacion-contacto {
        margin-left: 0;
        text-align: center;
    }
}

/* ---------------------------------------DIV Footer--------------------------------- */

.footer {
    background-color: #7dd557;
    text-align: center;
    padding: 10px;
    color: #10216f;
    font-family: 'Trebuchet MS', sans-serif;
}

.footer-link {
    color: #10216f;
    text-decoration: none;
    font-weight: bold;
}

.footer-link:hover {
    color: white;
}
