body {
    margin: 0;
    font-family: 'Trebuchet MS', regular;
}

header {
    background-color: #10216f;
    color: white;
    padding: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-family: 'Trebuchet MS', regular;
    font-weight: regular;
    z-index: 10;
}

.logo {
    height: 60px;
    margin-left: 38px;
    margin-right: 55px;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: auto;
    position: relative;
}

nav {
    display: flex;
    gap: 50px;
}

nav a {
    color: #7dd557;
    text-decoration: none;
    font-weight: regular;
}

.button {
    background-color: white;
    color: #10216f;
    border: none;
    padding: 15px 45px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: auto;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    transition: background-color 0.3s, border-color 0.3s;
}

.button:hover {
    background-color: #1631ac;
    color: white;
    border: 2px solid black;
}

/* ---------------------------------------DIV CARRUSEL DE IMAGENES--------------------------------- */

/* Estilos para el carrusel */
.carousel {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 0; /* Ajusta el margen inferior a 0 */
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; /* Ancho total para tres imágenes */
}

.carousel-images img {
    width: 33.33%; /* Cada imagen ocupa el 33.33% del ancho del contenedor */
    height: auto;
    display: block;
}

/* Puntos de control del carrusel */
.carousel-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.carousel-dots button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff80; /* Color de los puntos */
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-dots button.active {
    background-color: #ffffff; /* Color del punto activo */
}

/* Estilos para el botón del menú (solo visible en pantallas pequeñas) */
.menu-btn {
    display: none;
    background-color: white;
    color: #10216f;
    font-size: 26px;
    padding: 3px 10px;
    cursor: pointer;
    border-radius: 6px; /* Menos redondeado */
    border: 2px solid #10216f;
    transition: none; /* Sin efecto de hover */
}

.menu-btn::before {
    content: "☰"; /* Ícono de menú por defecto */
}

.menu-btn.active::before {
    content: "✖"; /* Ícono de cerrar al activar */
}

/* Media query para pantallas pequeñas */
@media (max-width: 980px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .logo {
        margin-right: 10px;
    }

    .nav-container {
        display: none;
        width: 100%;
        background-color: #10216f;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
        border-radius: 0 0 10px 10px;
        transition: max-height 0.5s ease-in-out;
        overflow: hidden;
        max-height: 0;
        z-index: 1;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .nav-container.active {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-height: 220px; /* Altura máxima que el menú puede alcanzar al desplegarse */
    }

    .menu-btn.active {
        background-color: white; /* Mantener el botón en blanco cuando está activo */
    }

    .menu-btn {
        display: block;
    }

    .button {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 0; /* Eliminamos el espacio entre elementos para que las líneas de separación ocupen su lugar */
        width: 100%;
        padding: 10px;
    }

    nav a {
        color: #7dd557;
        text-align: center;
        padding: 10px 0; /* Espacio interior para cada enlace */
        border-top: 1px solid #ffffff60; /* Línea de separación superior */
    }

    nav a:first-child {
        border-top: none; /* Quitar línea de separación del primer elemento */
    }
}


/* ---------------------------------------DIV NOSOTROS--------------------------------- */
.nosotros {
    display: flex;
    align-items: flex-start;
    background-color: white;
    padding: 0; /* Elimina el padding para ajustar la alineación */
    margin: 0; /* Elimina margen superior e inferior */
}

.texto-nosotros {   
    flex: 1;
    width: 50%;
    margin-right: 0;
    margin-top: 20px;
    color: #10216f;
    text-align: justify;
    padding: 20px;
    box-sizing: border-box;
}

.texto-nosotros h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 0 0 20px 0; /* Margen inferior para separar el texto */
}

.imagen-nosotros img {
    width: 100%;
    display: block; /* Elimina espacios alrededor de la imagen */
    margin: 0; /* Elimina margen */
}

.ver-mas-btn {
    display: block; /* Cambia a block para que ocupe todo el espacio disponible */
    margin: 20px auto; /* Asegura que el botón esté centrado horizontalmente */
    padding: 10px 20px; 
    background-color: #10216f; /* Color de fondo en azul */
    color: white; 
    font-size: 15px; 
    font-weight: bold; /* Texto en negrita */
    border-color: rgb(18, 7, 122);
    cursor: pointer;
    border-radius: 5px; /* Bordes ligeramente redondeados */
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 980px) {
    .ver-mas-btn {
        width: 50%; /* El botón ocupará el 50% del ancho en pantallas pequeñas */
        padding: 15px; /* Ajuste del padding */
        font-size: 16px; /* Tamaño de la fuente ajustado */
    }
}
/* Ajuste para pantallas pequeñas */
@media (max-width: 980px) {
    .nosotros {
        flex-direction: column;
        margin: 0; /* Elimina margen superior e inferior */
    }

    .texto-nosotros {
        width: 100%;
        padding: 20px;
    }

    .imagen-nosotros {
        width: 100%;
    }

    .imagen-nosotros img {
        max-width: 100%;
    }
}

/* ---------------------------------------DIV Servicios--------------------------------- */
.servicios {
    background-color: #10216f;
    text-align: center;
    padding: 15px 20px;
    margin: 0; /* Elimina cualquier margen */
}

.servicios h2 {
    font-size: 2.5em;
    color: #7dd557;
    margin-bottom: 20px;
}

.servicios p {
    color: white;
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
}


.recuadros-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    margin-top: 40px;
}


.recuadroChico {
    width: 150px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1; /* Cambiado de 0 a 1 */
    transform: translateY(0); /* Cambiado para eliminar la animación */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px;

}
.recuadroChico img {
    margin-top: 15px;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.texto-recuadroChico {
    font-size: 1.2em;
    font-weight: bold;
    color: #10216f;
    text-align: center; 

}

.btnCuadrosChicos {
    display: block; /* Cambia a block para que ocupe todo el espacio disponible */
    margin: 20px auto; /* Asegura que el botón esté centrado horizontalmente */
    padding: 5px 10px; 
    background-color: #10216f; /* Color de fondo en azul */
    color: white; 
    font-size: 15px; 
    font-weight: bold; /* Texto en negrita */
    border-color: rgb(18, 7, 122);
    cursor: pointer;
    border-radius: 5px; /* Bordes ligeramente redondeados */
}
.recuadro {
    width: 150px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1; /* Cambiado de 0 a 1 */
    transform: translateY(0); /* Cambiado para eliminar la animación */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;

}
.recuadro img {
    margin-top: 25px;
    width: 80px;
    height: 80px;
    margin-bottom: 0;
}

.texto-recuadro {
    font-size: 1.2em;
    font-weight: bold;
    color: #10216f;
    text-align: center; 
    margin-bottom: 15px;
}

.btnCuadros {
    display: block; /* Cambia a block para que ocupe todo el espacio disponible */
    margin-bottom: 35px;
    padding: 5px 10px; 
    background-color: #10216f; /* Color de fondo en azul */
    color: white; 
    font-size: 15px; 
    font-weight: bold; /* Texto en negrita */
    border-color: rgb(18, 7, 122);
    cursor: pointer;
    border-radius: 5px; /* Bordes ligeramente redondeados */
}

/* ---------------------------------------DIV Sucursales--------------------------------- */

.sucursales {
    display: flex;
    align-items: flex-start;
    background-color: white;
    margin: 0; /* Elimina margen superior e inferior */
    padding: 230px 20px;
}

.texto-sucursales h1 {
    color: #7dd557;
    font-size: 2.5em;
    
}

.texto-sucursales {   
    flex: 1;
    width: 50%;
    margin-right: 0;
    margin-top: 20px;
    text-align: justify;
    padding: 20px;
    box-sizing: border-box;
}


.imagen-sucursales img {
    width: 100%;
    display: block; /* Elimina espacios alrededor de la imagen */
    margin: 0; /* Elimina margen */
}
